traced_model.pt
yolov7.pt
Temp.jpg
runs/detect/exp/layors/layor16.jpg
runs/detect/exp/layors/layor15.jpg
runs/detect/exp/layors/layor14.jpg
runs/detect/exp/layors/layor10.jpg
runs/detect/exp/layors/layor13.jpg
runs/detect/exp/layors/layor12.jpg
runs/detect/exp/layors/layor11.jpg
runs/detect/exp/layors/layor8.jpg
runs/detect/exp/layors/layor9.jpg
runs/detect/exp/layors/layor7.jpg
runs/detect/exp/layors/layor6.jpg
runs/detect/exp/layors/layor4.jpg
runs/detect/exp/layors/layor5.jpg
runs/detect/exp/layors/layor3.jpg
runs/detect/exp/layors/layor2.jpg
runs/detect/exp/layors/layor0.jpg
runs/detect/exp/layors/layor1.jpg
runs/detect/exp/smoothGrad.jpg
runs/detect/exp/image.png
runs/detect/exp/bus.jpg
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/__pycache__/ourDetect.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/__pycache__/smooth_grad.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/models/__pycache__/__init__.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/models/__pycache__/common.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/models/__pycache__/yolo.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/models/__pycache__/experimental.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/utils/__pycache__/__init__.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/utils/__pycache__/autoanchor.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/utils/__pycache__/datasets.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/utils/__pycache__/general.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/utils/__pycache__/google_utils.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/utils/__pycache__/loss.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/utils/__pycache__/metrics.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/utils/__pycache__/plots.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/utils/__pycache__/torch_utils.cpython-311.pyc
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/ffmpeg.exe
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/openh264-1.8.0-win64.dll
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/openh264-1.8.0-win64.dll.bz2
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/openh264-2.3.1-win64.dll
Engineering-Clinic-Emerging-AI-Design-Interface/yolov7-main/openh264-2.3.1-win64.dll.bz2
runs/detect/exp/0.mp4
runs/detect/exp/ducks.mp4.mp4
runs/detect/exp/sample_flip.webm.mp4
runs/detect/exp/Temp.mp4
runs/detect/exp/layors/layor0.jpg
ffmpeg.exe
individual_work/asien/run_images/exp/image.png
individual_work/asien/run_images/exp2/image.png
.gitignore
outputs/runs/detect/exp/0.mp4
outputs/runs/detect/exp/bus.jpg
outputs/runs/detect/exp/image.png
outputs/runs/detect/exp/ducks.mp4.mp4
outputs/runs/detect/exp/sample_flip.webm.mp4
outputs/runs/detect/exp/smoothGrad.jpg
outputs/runs/detect/exp/Temp.mp4
outputs/runs/detect/exp/layors/layor1.jpg
outputs/runs/detect/exp/layors/layor2.jpg
outputs/runs/detect/exp/layors/layor3.jpg
outputs/runs/detect/exp/layors/layor4.jpg
outputs/runs/detect/exp/layors/layor5.jpg
outputs/runs/detect/exp/layors/layor6.jpg
outputs/runs/detect/exp/layors/layor7.jpg
outputs/runs/detect/exp/layors/layor8.jpg
outputs/runs/detect/exp/layors/layor9.jpg
outputs/runs/detect/exp/layors/layor10.jpg
outputs/runs/detect/exp/layors/layor11.jpg
outputs/runs/detect/exp/layors/layor12.jpg
outputs/runs/detect/exp/layors/layor13.jpg
outputs/runs/detect/exp/layors/layor14.jpg
outputs/runs/detect/exp/layors/layor15.jpg
outputs/runs/detect/exp/layors/layor16.jpg
__pycache__/ourDetect.cpython-311.pyc
__pycache__/smooth_grad.cpython-311.pyc
outputs/runs/detect/exp/layors/layor0.jpg
outputs/runs/detect/exp/layors/layor0.jpg
Interface_Dependencies/__pycache__/ourDetect.cpython-311.pyc
Interface_Dependencies/__pycache__/smooth_grad.cpython-311.pyc
outputs/runs/detect/exp/IMG_5436.MOV.mp4
Interface_Dependencies/ourDetect.py
outputs/runs/detect/exp/smoothGrad1.jpg
outputs/runs/detect/exp/smoothGrad2.jpg
outputs/runs/detect/exp/smoothGrad0.jpg
Interface_Dependencies/__pycache__/run_methods.cpython-311.pyc
